# Python
__pycache__/
*.pyc

# Windows
desktop.ini

# Logs
*.log
RL/logs/
FC/logs/
FC/logs_v2/

# Models
FC/models/
RL/models/
*.pth
*.zip

# Generated graphs
plots/
evaluation/graphs/
*.png

# aioquic build outputs
aioquic/build/
aioquic/src/*.egg-info/
aioquic/src/aioquic.egg-info/
aioquic/UNKNOWN.egg-info/
build/
dist/
*.egg-info/
# Compiled shared libraries
*.so
